body {
    display: flex;
    width: 250px;
    margin: auto;

}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgba(255,255,255, 0.5);
    margin-top: 50px;
    border: solid 2px black;
    box-sizing: border-box;
    border-radius: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

#screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 90%;
    height: 100px;
    border: solid 2px black;
    margin: 5%;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

#resultView {
    margin: 0;
    height: 28px;
}

#writeText {
    margin: 0;
    height: 28px;
}

#number-buttons {
    width: 75%;
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 5%;
    margin-right: 0;
}

#operator-buttons {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-left: 0;
}

.numbers {
    width: 30.33%;
    margin: 1%;
}
.operator {
    width: 100%;
    margin: 3%;
}
/* CSS */
button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  height: auto;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  box-sizing: border-box;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}